<ngx-spinner></ngx-spinner>
<div class="split-left">
    <div>
            <div style="margin-left: 10px; margin-bottom: 10px;">
                <label class="bold-black">Filters</label>     
            </div>
            <div class="text-center">
                <label>Launch Year</label>     
            </div>
        <div style="display: grid; grid-template-columns: auto auto; padding: 10px; grid-column-gap: 25px; grid-row-gap: 25px; margin-left: 20px">
            <div *ngFor="let year of years; let i = index" class="grid-item">
                <button (click)="filterYear(year,i)" class="button" [ngClass]="{'highlight': i === selectedYearIndex}">{{year}}</button>
            </div>
        </div>
        <div class="text-center">
            <label>Successfull Launch</label>     
        </div>
        <div style="display: grid; grid-template-columns: auto auto; padding: 10px; grid-column-gap: 25px; grid-row-gap: 25px;  margin-left: 20px">
            <div *ngFor="let launch of launchStatus; let i = index" class="grid-item">
                <button (click)="filterlaunchStatus(launch,i)" class="button" [ngClass]="{'highlight': i === selectedLaunchIndex}">{{launch}}</button>
            </div>
        </div>
        <div class="text-center">
            <label>Successfull Landing</label>     
        </div>
        <div style="display: grid; grid-template-columns: auto auto; padding: 10px; grid-column-gap: 25px; grid-row-gap: 25px;  margin-left: 20px">
            <div *ngFor="let landing of landingStatus; let i = index" class="grid-item">
                <button (click)="filterlandingStatus(landing,i)" class="button" [ngClass]="{'highlight': i === selectedLandStatusIndex}">{{landing}}</button>
            </div>
        </div>
    </div>
</div>
<div class="split-right">
    <div class="grid-container">
        <div *ngFor="let data of dataFromAPi; let i = index" class="grid-item" style="background-color: white; padding: 10px;">
            <div class="center">
                <img [src]="data.links.mission_patch_small" class="img" alt='spacexLogo'>
            </div>
            <div class="padding-bottom">
                <label class="bold-purple">{{data.mission_name}} # {{data.flight_number}}</label>
            </div>
            <div class="padding-bottom">
                <label class="bold-black">Mission Ids: </label>
                <div *ngIf="data.mission_id.length > 0">
                    <ul class="blue" *ngFor="let id of data.mission_id">
                        <li>{{id}}</li>
                    </ul>
                </div>
                <label class="blue" *ngIf="data.mission_id.length === 0">NA</label>
            </div>
            <div class="padding-bottom">
                <label class="bold-black">Launch Year: </label>
                <label class="blue">{{data.launch_year}}</label>
            </div>
            <div class="padding-bottom">
                <label class="bold-black">Successful Launch: </label>
                <label class="blue">{{data.launch_success}}</label>
            </div>
            <div class="padding-bottom">
                <label class="bold-black">Successful Landing: </label>
                <label class="blue" *ngIf="data.rocket.first_stage.cores[0].land_success === null">NA</label>
                <label class="blue" *ngIf="data.rocket.first_stage.cores[0].land_success !== null">{{data.rocket.first_stage.cores[0].land_success}}</label>
            </div>
        </div>
    </div>
</div>

<footer>
        <label class="bold-black">Developed By: </label>
        <label>Prabhjot Singh</label>
</footer>


